### Q1

Name the four built-in data structures in python. Give one examples for each

In [ ]:
list, tuple, dictionary and set

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
List uses brackets whilst tuple uses round brackets. Again, lists are mutable whilst tuple is not.

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [18]:
animal_list = ["goat", "sheep", "dog", "cow", "fowl"]

In [19]:
print(animal_list[0:2])

['goat', 'sheep']

In [20]:
print(animal_list[3:])

['cow', 'fowl']

In [21]:
animal_list.extend(["cattle", "lion", "zebra"])

In [22]:
print(animal_list)

['goat', 'sheep', 'dog', 'cow', 'fowl', 'cattle', 'lion', 'zebra']

In [26]:
del animal_list[:2]

In [27]:
print(animal_list)

['dog', 'cow', 'fowl', 'cattle', 'lion', 'zebra']

In [28]:
len(animal_list)

6

In [30]:
animal_set =set(animal_list)

In [31]:
print(animal_set)

{'cow', 'fowl', 'cattle', 'lion', 'zebra', 'dog'}

In [32]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [35]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [36]:
list_1 = suitcase[:2]

In [37]:
list_1

['sunglasses', 'hat']

In [38]:
middle = suitcase[2:4]

In [39]:
print(middle)

['passport', 'laptop']

In [43]:
last = suitcase[-2:]

In [44]:
print(last)

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [45]:
values = [20,25,30,40,45,50,55,60,65,70]

In [46]:
values.insert(3,35)

In [47]:
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
# When you don't the data to change, that is when you use tuple because tuple is immutable.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [50]:
region_capital = {"Greater Accra":"Accra", "Bono":"Sunyani", "Eastern":"Kofofidua", "Central":"Cape Coats", "Ahafo":"Goaso"}

In [51]:
region_capital.keys()

dict_keys(['Greater Accra', 'Bono', 'Eastern', 'Central', 'Ahafo'])

In [52]:
region_capital.values()

dict_values(['Accra', 'Sunyani', 'Kofofidua', 'Cape Coats', 'Goaso'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [54]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]

In [56]:
len(values)

16

In [58]:
max(values)

6

In [59]:
value_set= set(values)

In [60]:
print(value_set)

{1, 2, 3, 4, 5, 6}

In [61]:
len(value_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [ ]:
#dictionary
#keys are numbers in range 1 and 15(both included)
#values are square of the keys.

In [72]:
output = {}
for i in range(1,16):
    output[i] = i**2
print(output)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [66]:
x=11-20
y=21-30
z=31-40

In [73]:
x_list=[]
for x in range(11,20):
    x_list.append(x)
x_list

y_list =[]
for y in range(21,30):
    y_list.append(y)
y_list

z_list=[]
for z in range(31,40):
    z_list.append(z)
z_list
dict={"x":x_list[5], "y":y_list[5], "z":z_list[5]}

In [74]:
print(dict)

{'x': 16, 'y': 26, 'z': 36}